@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

:root{
    --cor01: rgb(220, 235, 255);
    --cor02: rgba(133, 204, 200, 0.600);
    --cor03: rgb(181, 222, 226);
    --cor04: rgba(242, 202, 80, 0.600);
    --cor05: rgba(242, 162, 155, 0.600);
    --font1:'Quicksand', sans-serif;
}

*{
    font-family: var(--font1);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: var(--cor02);
}

body{
    background-image: linear-gradient(135deg, var(--cor02), var(--cor02), var(--cor05), var(--cor05));
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    
    overflow: hidden;
    
    background-color: var(--cor01);
    width: 270px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.350);
    transform: translate(-50%,-50%);
    transition: width 300ms, height 300ms;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block; 
    background-color: var(--cor02);
    background-image: url(../imagens/casas-1440.jpg);background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 200px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.31);
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin: 10px 0px;
}

div#formulario > p  {
    font-size: 0.9em;
    text-align: center;
}

form{
    margin-top: 20px;
    text-align: center;
}

div.campo{
    padding: 3px;
    background-color: var(--cor02);
    margin: 10px 0px;
    border-radius: 7px;
    border: 1px solid black;
}

input{
    background-color: var(--cor01);
    padding: 5px;
    width: 88%;
    border-radius: 7px;
    border: 1px solid black;
}

form > input[type='submit']{
    background-color: var(--cor04);
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: rgb(28, 104, 167);
    font-family: var(--font1);
}

form > input[type='submit']:hover{
    background-color: rgba(255, 221, 118, 0.600);
    color: rgb(49, 90, 124);
    text-decoration: underline;
    
}

span{
    vertical-align: middle;
}

#botao{
    border-radius: 7px;
    color: black;
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: 1px solid rgb(149, 124, 49);
    color: rgb(167, 114, 110);
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;

}

#botao:hover {
    background-color: rgba(255, 178, 172, 0.600);
    color: rgb(139, 96, 93);
    text-decoration: underline;
}

#botao > span {
    font-size: 1em;
    padding: 0px 0px 0px 5px;
    vertical-align: middle;
}
